$mobile: 767px;
$tablet: 991px;

@mixin respond-to($size) {
  @if $size == xs {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $size == sm {
    @media only screen and (min-width: $mobile + 1) and (max-width: $tablet - 1) { @content; }
  }
  @else if $size == md {
    @media only screen and (min-width: $tablet) { @content; }
  }
}

.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title{
  @include respond-to(xs){
    font-size: 8px;
  }
}

.terminal{
  &__orders-wrap{
    & > .row{
      @include respond-to(xs){
        display: block;
      }
    }
  }
  &__goods, &__cart{
    @include respond-to(xs) {
      height: auto;
    }
  }
  &__category, &__good{
    @include respond-to(xs){
      &:nth-of-type(2n+1){
        clear: both;
      }
    }
    @include respond-to(sm){
      &:nth-of-type(3n+1){
        clear: both;
      }
    }
    @include respond-to(md){
      &:nth-of-type(4n+1){
        clear: both;
      }
    }
  }
  &__cart{
    @include respond-to(xs){

    }

    &-goods{
      @include respond-to(md){
        height: calc(100vh - 500px);
        overflow: scroll;
      }
    }
  }
  &__order-info{
    @include respond-to(xs){
      position: relative;
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__cart-goods {
    &{
      @include respond-to(xs){
        margin-top: 20px;
      }
    }
    .cart-good{
      margin-top: 10px;
    }

  }

  &__cart-info{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9;
  }
}
