$mobile: 767px;
$tablet: 1024px;

@mixin respond-to($size) {
  @if $size == xs {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $size == sm {
    @media only screen and (min-width: $mobile + 1) and (max-width: $tablet - 1) { @content; }
  }
  @else if $size == md {
    @media only screen and (min-width: $tablet) { @content; }
  }
}

.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title{
  @include respond-to(xs){
    font-size: 8px;
  }
}

.terminal{
  &__orders-wrap{
    & > .row{
      @include respond-to(xs){
        display: block;
      }
      @include respond-to(sm){
        display: block;
      }
    }
  }
  &__goods{
    @include respond-to(xs){

    }
  }
  &__cart{
    @include respond-to(xs){

    }
  }
  &__order-info{
    @include respond-to(xs){
      position: relative;
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__cart-goods {
    .cart-good{

    }

  }

  &__cart-info{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}
